body{
    display: grid;
    place-items: center;
    background-color: #02142c;
    height: 100vh;
    color: #fff;
    font-family: sans-serif;
    grid-template-columns: 1fr;
    align-items: center;
}

.cake{
    position: absolute;
    width: 300px;
    bottom: 40px;
    left: 0;
}

img{
    width: 100%;
}

.birthday{
    width: 60%;
}

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    max-width: 800px;
    width: 100%;
    font-size: 14px;
}

.glitch{
    margin: 0 0 11rem;
    font-size: 3.5rem;
    letter-spacing: .02em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-shadow:
    0.05em 0 0 rgba(255, 0, 0, .75)
    -0.025em -0.05em 0 rgba(0, 255, 0, .75)
    0.025em 0.05em 0 rgba(0, 0, 255, .75);  

    animation: glitch 500ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
  }
  
  

@keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  

  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
  

svg{
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%, -50%);
}
#draw1{
    stroke-dasharray: 2000;
    animation: first 10s linear alternate infinite;
}

@keyframes first{
    0%{
        stroke-dashoffset:2000;
    }
    99%{
        fill: red;
    }
    100%{
        stroke-dashoffset:0;
    }
}
#draw2{
    stroke-dasharray: 2000;
    animation: second 10s linear alternate infinite;
    animation-delay:2s;
}
@keyframes second{
    0%{
        stroke-dashoffset:2000;
        stroke: red;
    }
    99%{
        fill: red;
    }

    100%{
        stroke-dashoffset:0;
    }
}
#draw3{
    stroke-dasharray: 2000;
    animation: third 10s linear alternate infinite;
    animation-delay:4s;
}
@keyframes third{
    0%{
        stroke-dashoffset:2000;
        stroke: purple;
    }
    99%{
        fill: purple;
    }

    100%{
        stroke-dashoffset:0;
    }
}
#draw4{
    stroke-dasharray: 2000;
    animation: fourth 10s linear alternate infinite;
    animation-delay:6s;
}
@keyframes fourth{
    0%{
        stroke-dashoffset:2000;
        stroke: brown;
    }
    99%{
        fill: brown;
    }

    100%{
        stroke-dashoffset:0;
    }
}
#draw5{
    stroke-dasharray: 2000;
    animation: fifth 10s linear alternate infinite;
    animation-delay:8s;
}
@keyframes fifth{
    0%{
        stroke-dashoffset:2000;
        stroke: brown;
    }
    99%{
        fill: brown;
    }

    100%{
        stroke-dashoffset:0;
    }
}
